---
layout: home
title: Apuntes Programación en JAVA
---
        <h1>Indice</h1>
        <div class="subject-details">
           <h2>Tema 1 - Introducción</h2>
		<ol> 
		{% for post in site.posts reversed %}
		{% if post.categories contains "parte1" %}
		<li><h4><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></h4></li>
		{% endif %}
		{% endfor %}
		</ol>
	  <h2>Tema 2 - Métodos</h2>
		<ol> 
		{% for post in site.posts reversed %}
		{% if post.categories contains "metodos" %}
		<li><h4><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></h4></li>
		{% endif %}
		{% endfor %}
		</ol>
	  <h2>Tema 3 - Cadenas</h2>
		<ol> 
		{% for post in site.posts reversed %}
		{% if post.categories contains "strings" %}
		<li><h4><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></h4></li>
		{% endif %}
		{% endfor %}
		</ol>
	  <h2>Tema 4 - Arrays</h2>
		<ol> 
		{% for post in site.posts reversed %}
		{% if post.categories contains "arrays" %}
		<li><h4><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></h4></li>
		{% endif %}
		{% endfor %}
		</ol>
	  <h2>Tema 5 - Estructuras de datos</h2>
		<ol> 
		{% for post in site.posts reversed %}
		{% if post.categories contains "estructuras" %}
		<li><h4><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></h4></li>
		{% endif %}
		{% endfor %}
		</ol>
	  <h2>Tema 6 - Programación orientada a objetos</h2>
		<ol> 
		{% for post in site.posts reversed %}
		{% if post.categories contains "poo" %}
		<li><h4><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></h4></li>
		{% endif %}
		{% endfor %}
		</ol>
	  <h2>Tema 7 - Ficheros</h2>
		<ol> 
		{% for post in site.posts reversed %}
		{% if post.categories contains "ficheros" %}
		<li><h4><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></h4></li>
		{% endif %}
		{% endfor %}
		</ol>

	  <h2>Varios</h2>
		<ol> 
		{% for post in site.posts reversed %}
		{% if post.categories contains "varios" %}
		<li><h4><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></h4></li>
		{% endif %}
		{% endfor %}
		</ol>

        </div>
        
    </section>

    <footer id="footer">
      <div class="container">
        <!-- Attribution -->
        <div class="attribution">
          <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
            <img alt="Licencia de Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
          </a>
          <br />Todo el material de esta web está bajo una <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">licencia de Creative Commons Reconocimiento-CompartirIgual 4.0 Internacional</a>.

        </div>
        <div class="attribution">
          <a
            href="https://github.com/CommunityPro/portfolio-html"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              src="https://user-images.githubusercontent.com/62628408/157202263-9174da24-b19a-4017-9b7c-a1d26ae8f014.svg"
              alt="attribution"
              width="150px"
            />
          </a>
        </div>
      </div>
    </footer>
    <script src="js/script.js"></script>
  </body>
</html>
